body {
  padding-top: 56px;
}
.bg-primary{
    background-color:#984843!important
}
.bg-secondary{
    background-color:#D7CEC7!important
}
.text-primary{
    color:#984843!important}
a{
    color:#984843}
a:active,a:focus,a:hover{
    color:#824027}
.btn-primary{
    background-color:#984843!important}
#overlay,#sl,#jun,#sy,#kl,#jl {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 10;
  cursor: auto;
}

#text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 70%;
  font-size: 19px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   color: white;
}